body {
  font-family: 'Raleway', sans-serif;
  color: #0f0074;
}

h1 {
  font-size: 1.6em;
}

#top-container {
  max-width: 60em;
  min-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

#main-widget {
  float: left;
  margin-right: 3em;
}

#main-widget-root-container {
  width: 40em;
}

#program-input {
  font-family: 'Inconsolata', 'monospace';
  font-size: 1.4em;
  white-space: pre;
}

#char-run-container {
  font-family: 'Inconsolata', 'monospace';
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #72707f;
}

#char-count {
  display: inline-block;
  padding: 6;
  padding-left: 2;
}

#run-button {
  display: inline-block;
  float: right;
  padding: 6;
  background-color: #d8d2ff;
}

#run-button:hover {
  color: #0f0074;
  cursor: default;
}

#graphic-container {
  border: 3px solid #d8d2ff;
  position: relative;
  margin-bottom: 1em;
}

#program-graphic {
  position: absolute;
  top: 0;
  left: 0;                   
  margin-bottom: 2em;
}

#eval-progress-meter {
  font-family: 'Inconsolata', monospace;
  height: 100%;
  margin: auto;
  font-size: 65px;
  line-height: 300px;
  text-align: center;
  color: #72707f;
}

#examples {
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  max-width: 12em;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

.try-example {
  border: 1px solid #d8d2ff;
  padding: 8px;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 6em;
  resize: none;
  overflow: auto; 
  border: 3px solid #d8d2ff; 
}


@media screen and (max-width: 39em) {
  body { width: 320; color: red }
  #top-container { width: 96vw; max-width: 96vw; min-width: 96vw;}
  #main-widget { margin-right: 0; float: none; }
  #main-widget-root-container { width: 96vw; }

}